install/*.nupkg
src/output/*.nupkg

*.log

# Include the custom builds of the DoubleAgent dll, don't include the character file(s)
!lib/
lib/*.acs

# User-specific files
*.suo
*.user
*.sln.docstates

build/
[Bb]in/
[Oo]bj/
.vs/

Thumbs.db
Desktop.ini
.DS_Store

